/*splashscreen*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page style */
body {
    height: 100vh;
    background-color: #f6f2df;
    /* soft cream background */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Georgia", serif;
}

/* Splash container */
.splash-container {
    text-align: center;
    animation: fadeInScale 2s ease-in-out;
}

/* Logo */
.logo {
    width: 450px;
    max-width: 80%;
    animation: float 3s ease-in-out infinite;
}

/* Tagline */
.tagline {
    margin-bottom: 50px;
    font-size: 18px;
    color: #5a3b1f;
    letter-spacing: 1px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 1.5s;
}

/* Animations */
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}